@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoRegular";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.headingcontent h1 {
  font-family: "RobotoMedium";
  font-style: normal;
}
h5 {
  font-family: "RobotoRegular";
  font-weight: lighter;
  font-style: normal;
  text-wrap: wrap;
}
.MainContainer {
  margin: 20px;
  margin-left: 180px;
  margin-right: 180px;
}

.LogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  margin: 18px;
  width: 200px;
  height: auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  font-family: "Roboto-Bold";
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #e58d41;
}
.imgcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.imgcontainer img {
  width: 1160px;
  height: auto;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Medium";
}
.headingcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto-Medium";
  margin-top: 20px;
}
.bar {
  width: 30px;
  height: 4px;
  background-color: black;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.sideview {
  display: flex;
  flex-direction: row;
  padding: 40px;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
.textcontent {
  width: fit-content;
  height: fit-content;
  text-align: justify;
  font-family: "RobotoRegular";
  font-weight: lighter;
  font-style: normal;
}

/* no wrap */

.imgcontent img {
  width: 300px;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.btn {
  width: 120px;
  height: 40px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  margin-top: 40px;
  font-family: "RobotoRegular";
}

.imagegallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 20px;
}
.photos {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

footer {
  border-top: 2px solid black;
}
.footercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.footercontent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  margin: 4px;
  font-family: "RobotoRegular";
  font-weight: lighter;
  font-size: small;
}
.cppimage {
  width: 14px;
  height: 14px;
}

.weblink a {
  list-style: none;
  list-style-type: none;
  color: #e58d41;
  text-decoration: none;
}

.checkButton {
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.myCheckBox {
  display: none;
}

a:hover,
a.active {
  color: #e58d41;
}

@media screen and (max-width: 858px) {
  body {
    margin: 0px;
  }
  .cppimage {
    width: 22px;
    height: auto;
    color: black;
    background-color: white;
  }
  .MainContainer {
    margin: 0px;
    /* margin-bottom: 20px; */
    padding: 0px;
    border-top: 4px solid #e58d41;
  }
  .headerandnavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    display: flex;
    border: none;
  }
  .checkButton {
    display: block;
  }
  ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: auto;
    top: 100px;
    left: -110%;
    text-align: left;
    transition: all 0.5s;
    border: 2px solid black;
  }
  nav ul li {
    display: block;
    background-color: white;

    /* margin: 50px 0; */
    /* line-height: 30px; */
  }
  nav ul li a {
    font-size: 20px;
    color: black;
  }
  a:hover,
  a.active {
    color: red;
  }

  .myCheckBox:checked ~ ul {
    left: 0;
  }

  .imgcontainer img {
    width: auto;
    height: 388px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  .sideview {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .textcontent {
    width: fit-content;
    height: auto;
    text-align: justify;
    font-family: "RobotoRegular";
    font-weight: lighter;
    font-style: normal;
  }
  .spantext {
    width: 10px;
    height: 20px;
    text-align: justify;
    text-overflow: clip;
  }
  .imgcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }
  .imgcontent img {
    width: 300px;
    height: 260px;
    margin: 0px;
    padding: 0px;
  }
  .btn {
    width: 120px;
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    margin-top: 20px;
    font-family: "RobotoRegular";
  }

  .imagegallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 20px;
  }
  .photos {
    margin-top: 20px;
    width: 180px;
    height: 180px;
    border-radius: 100px;
  }
  .textcontent.history {
    padding: 14px;
  }
  .footercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    margin: 0px;
  }
  .cppimage {
    width: 22px;
    height: auto;
    color: black;
    background-color: white;
  }
  .MainContainer {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border-top: 4px solid #e58d41;
  }
  .headerandnavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aquamarine; */
  }
  .navbar {
    display: flex;
    border: none;
  }
  .checkButton {
    display: block;
  }
  ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: auto;
    top: 100px;
    left: -110%;
    text-align: left;
    transition: all 0.5s;
    border: 2px solid black;
  }
  nav ul li {
    display: block;
    background-color: white;

    /* margin: 50px 0; */
    /* line-height: 30px; */
  }
  nav ul li a {
    font-size: 20px;
    color: black;
  }
  a:hover,
  a.active {
    color: red;
  }

  .myCheckBox:checked ~ ul {
    left: 0;
  }

  .imgcontainer img {
    width: auto;
    height: 180px;
    margin: 10px;
  }

  .content div {
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 10px;
  }
  .sideview {
    display: flex;
    flex-direction: column;

    margin: 0px;
    padding: 4px;
    margin-top: 10px;
  }
  .textcontent {
    width: fit-content;
    height: auto;
    text-align: balance;
    text-wrap: wrap;
    font-family: "RobotoRegular";
    font-weight: lighter;
    font-style: normal;
  }
  .spantext {
    width: auto;
  }

  .imgcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 200px;
  }
  .imgcontent img {
    width: 220px;
    height: 160px;
    margin: 0px;
    padding: 0px;
  }
  .btn {
    width: 120px;
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    margin-top: 20px;
    font-family: "RobotoRegular";
  }

  .imagegallery {
    display: flex;
    width: 360px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: auto;
    flex-direction: row;
    gap: 10px;
    padding: 0px;
    margin: 0px;
  }
  .photos {
    margin-top: 20px;
    width: 160px;
    height: 160px;
    border-radius: 100px;
  }
  .textcontent.history {
    display: flex;
    flex-direction: column;
    padding: 14px;
    gap: 10px;
  }
  .textcontent.history h5 {
    margin: 0px;
    padding: 0%;
  }
  .footercontainer {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: small;
  

  }
  .footercontent {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1px;
    font-family: "RobotoRegular";
    font-weight: lighter;
    font-size: small;
  }

 .endtext{
  padding-left: 8px;
  margin-bottom: 10px;
 }
}
